

.header {
  display: flex;
  border-bottom: solid 1px black;
  align-items: center;
  height: 75px;
  width: 100%;
  font-family: verdana;
  font-size: 14px
  font-weight: bold;
  justify-content: space-between;
}
.logo {
  display: inline-flex;
  padding: 10px;
}

.header h4 {
  color: MediumAquamarine;
  margin-left: 10px;
}

nav a {
  color: black;
  flex-direction: row;
  height: 75px;
  text-decoration: underline;
  margin: 10px;
  font-weight: bold;
}

.nav {
  flex-direction: row;
}

.content {
  display: flex;
  justify-content: center;

}

.large {
  display: flex;
  width: 630px;
  flex-wrap: wrap;
}

.medium{
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.small {
  display: flex;
  width:240px;
  flex-wrap: wrap;
}
